<article class="container py-12 md:py-24" id="bento">
  <h2
    class="mx-auto text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl"
  >
    ¿Por qué estudiar en Alemania?
  </h2>

  <ul class="mt-4 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
    <li class="relative pb-10 lg:row-span-2 lg:pb-0">
      <div
        aria-hidden="true"
        class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
      >
        <header
          class="relative flex h-60 flex-col items-center bg-transparent md:h-96 dark:bg-transparent"
        >
          <picture>
            <source
              srcset="/images/idiomas/alemania/bento-card-1.avif"
              type="image/avif"
            />
            <source
              srcset="/images/idiomas/alemania/bento-card-1.webp"
              type="image/webp"
            />

            <img
              class="absolute inset-x-0 mt-auto h-full w-full rounded-t-lg object-cover lg:rounded-tl-[2rem]"
              src="/images/idiomas/australia/bento-card-2.webp"
              alt="Viaja por Europa desde el Reino Unido"
              loading="lazy"
            />
          </picture>
        </header>
        <footer class="flex-1 px-8 pt-8 pb-3 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Educación, calidad de vida y proyección global
          </h3>
          <div class="mx-auto mt-2 text-gray-600 lg:max-w-lg">
            <strong>Alemania: excelencia académica y calidad de vida TOP</strong
            >.

            <ul
              class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
            >
              <li>
                24 universidades alemanas están entre las 200 mejores del mundo
                (Times Higher Education).
              </li>

              <li>
                Educación con proyección internacional y fuerte enfoque
                práctico.
              </li>

              <li>
                Uno de los países con mejor calidad de vida y mayor seguridad a
                nivel global.
              </li>

              <li>
                Mayor economía de Europa y cuarta a nivel mundial, clave para
                estudios y carrera profesional.
              </li>

              <li>
                Ruta clara hacia estudios superiores: idioma certificado B2
                (TestDaF) + Studienkolleg como preparación universitaria.
              </li>
            </ul>

            <i class="mt-4 block text-sm"
              >Alemania no es solo aprender alemán, es construir un futuro
              académico sólido.</i
            >
          </div>
        </footer>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"
      >
      </div>
    </li>
    <li class="relative max-lg:row-start-1">
      <div
        class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
      >
        <div class="px-8 py-8 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Certificaciones oficiales de alemán
          </h3>
          <div class="mx-auto mt-2 text-gray-600 lg:max-w-lg">
            <strong>Alemania: excelencia académica y calidad de vida TOP</strong
            >.

            <p class="mt-2">
              Contar con un certificado oficial es clave para <strong
                >universidades, becas, procesos migratorios y empleabilidad
                global</strong
              >.
            </p>

            <p class="mt-2">
              En nuestras escuelas asociadas podrás prepararte y presentar los
              exámenes oficiales más reconocidos:
            </p>

            <ul
              class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
            >
              <li>Goethe-Zertifikat</li>
              <li>TestDaF</li>
              <li>Goethe-Test PRO</li>
            </ul>

            <p class="mt-4 block text-sm">
              Certificaciones alineadas con estándares europeos y exigencias
              académicas reales.
            </p>
          </div>
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"
      >
      </div>
    </li>
    <li class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
      <div class="absolute inset-px rounded-lg bg-white"></div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
      >
        <div class="px-8 py-8 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Requisitos de visado claros y sin sorpresas
          </h3>
          <div class="mx-auto mt-2 text-gray-600 lg:max-w-lg">
            <ul
              class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
            >
              <li>
                Programas de hasta 12 semanas: no requieren visado Schengen de
                estudios.
              </li>
              <li>
                Programas superiores a 3 meses: requieren Visa Nacional de Larga
                Estadía.
              </li>
              <li>Costo consular aproximado: EUR 75.</li>
              <li>
                Debes demostrar solvencia económica de EUR 992 por mes de
                estadía, en una cuenta bloqueada.
              </li>
              <li>
                El tiempo de procesamiento puede tardar entre 4 y 8 semanas.
              </li>
            </ul>

            <p class="mt-4 block text-sm">
              En We Are TOP <strong>te acompañamos en todo el proceso</strong>,
              desde la estrategia hasta la solicitud.
            </p>
          </div>
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
      >
      </div>
    </li>
    <li class="relative pb-10 lg:row-span-2 lg:pb-0">
      <div
        class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
      >
        <header
          class="relative flex h-60 flex-col items-end justify-end bg-transparent md:h-96"
        >
          <picture>
            <source
              srcset="/images/idiomas/alemania/bento-card-4.avif"
              type="image/avif"
            />
            <source
              srcset="/images/idiomas/alemania/bento-card-4.webp"
              type="image/webp"
            />

            <img
              class="absolute inset-x-0 top-0 h-60 w-full object-cover max-lg:rounded-t-[calc(2rem+1px)] md:h-96 md:rounded-t-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]"
              src="/images/idiomas/malta/bento-card-1.webp"
              alt="Viaja por Europa desde el Reino Unido"
              loading="lazy"
            />
          </picture>
        </header>
        <footer class="flex-1 px-8 pt-8 pb-3 text-gray-600 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Cuenta bancaria bloqueada (Expatrio + We Are TOP)
          </h3>

          <strong>Cuenta bloqueada en Alemania, sin complicaciones</strong>.

          <p class="mt-2">
            Para aplicar a la visa de estudios en Alemania es obligatorio abrir
            una <strong>cuenta bancaria bloqueada</strong>.
          </p>

          <p class="mt-2">
            Con <strong>Expatrio</strong>
            <b>+ We Are TOP</b>:
          </p>

          <ul
            class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
          >
            <li>Gestionas tu cuenta de forma 100% digital</li>
            <li>Cumples con los requisitos exigidos por la Embajada alemana</li>
            <li>Recibes acompañamiento experto durante todo el proceso</li>
          </ul>

          <p class="mt-4 block text-sm">
            Menos estrés administrativo. Más foco en tu proyecto académico.
          </p>
        </footer>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
      >
      </div>
    </li>
  </ul>
</article>
