---
import IlscLogo from "@/icons/logos/ilsc.svg";
import CcebLogo from "@/icons/logos/cceb.svg";
---

<section
  class="bg-cgray-100 flex flex-col justify-center gap-6 p-4 py-12 md:py-24"
>
  <ul
    class:list={[
      "item-center flex list-none flex-wrap justify-center gap-x-8 gap-y-3 p-0 md:gap-x-12 md:gap-y-4",
    ]}
  >
    <li>
      <IlscLogo
        aria-label="Ilsc Logo"
        width={80}
        height={30}
        class="h-7 w-auto text-black"
      />
    </li>
    <li>
      <img
        src="/images/logos/shafston.png"
        alt="Shafston Logo"
        width={80}
        height={30}
        class="h-7 w-auto"
      />
    </li>
    <li>
      <img
        src="/images/logos/lexis-english.webp"
        alt="Shafston Logo"
        width={80}
        height={30}
        class="h-7 w-auto"
      />
    </li>
    <li>
      <CcebLogo
        aria-label="CCEB Logo"
        width={80}
        height={30}
        class="h-7 w-auto text-black"
      />
    </li>
    <li>
      <img
        src="/images/logos/sace.webp"
        alt="Shafston Logo"
        width={80}
        height={30}
        class="h-7 w-auto"
      />
    </li>
  </ul>
</section>
