---
import Globe from "@/components/globe.astro";
---

<article class="container py-12 md:py-24" id="bento">
  <h2
    class="mx-auto text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl"
  >
    ¿Por qué estudiar en el Reino Unido?
  </h2>

  <ul class="mt-4 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
    <li class="relative lg:row-span-2">
      <div
        aria-hidden
        class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
      >
        <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            El hogar del inglés y el estándar mundial
          </h3>
          <p class="mx-auto mt-2 max-w-lg text-gray-600 max-lg:text-center">
            <strong
              >Aprende inglés donde nació el idioma y donde aún se define su
              estándar global</strong
            >. Inmersión total en un país multicultural, con profesores nativos
            y una exposición constante al inglés académico, profesional y
            social. El Reino Unido sigue siendo el referente mundial para
            certificaciones, negocios y educación internacional.
          </p>
        </div>
        <div
          class="relative flex h-60 flex-col items-center bg-transparent md:h-60 dark:bg-transparent"
        >
          <Globe />
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"
      >
      </div>
    </li>
    <li class="relative max-lg:row-start-1">
      <div
        class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
      >
        <div class="px-8 py-8 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Mix global de nacionalidades (¡adiós al español!)
          </h3>
          <p class="mx-auto mt-2 max-w-lg text-gray-600 max-lg:text-center">
            Estudia en escuelas TOP con más de <b>50 nacionalidades</b>, grupos
            cuidadosamente equilibrados y un <b
              >control real del porcentaje de hispanohablantes</b
            >. Practica inglés todo el día, crea conexiones internacionales y
            vive un ambiente donde hablar español simplemente… no es una opción.
          </p>
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"
      >
      </div>
    </li>
    <li class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
      <div class="absolute inset-px rounded-lg bg-white"></div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
      >
        <div class="px-8 py-8 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Educación superior de élite en menos tiempo
          </h3>
          <p class="mx-auto mt-2 max-w-lg text-gray-600 max-lg:text-center">
            Si deseas continuar tu camino académico, el Reino Unido ofrece rutas
            claras y rápidas: <strong
              >Pregrados en 3 años, maestrías en solo 1 año</strong
            > y programas como <strong>Foundation</strong> o <strong
              >International Year One</strong
            > que te preparan para ingresar a universidades top incluso si aún necesitas
            reforzar el idioma o la parte académica.
          </p>
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
      >
      </div>
    </li>
    <li class="relative lg:row-span-2">
      <div
        class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
      >
        <div class="flex-1 px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Movilidad, visas y estilo de vida europeo
          </h3>
          <p class="mx-auto mt-2 max-w-lg text-gray-600 max-lg:text-center">
            Dependiendo de tu nacionalidad, puedes estudiar cursos cortos <strong
              >sin necesidad de visa previa</strong
            >. Además, si haces un posgrado, puedes trabajar <strong
              >20 horas por semana</strong
            >. Vive en ciudades vibrantes como Londres, Cambridge, Brighton u
            Oxford y viaja fácilmente por Europa gracias a conexiones rápidas y
            económicas.
          </p>
        </div>

        <div
          class="relative flex h-60 flex-col items-end justify-end bg-transparent md:h-60 dark:bg-transparent"
        >
          <img
            class="h-fit w-full object-contain"
            src="/images/idiomas/uk/silueta.png"
            alt="Viaja por Europa desde el Reino Unido"
            loading="lazy"
          />
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
      >
      </div>
    </li>
  </ul>
</article>
