---
import Globe from "./globe.astro";
---

<section class="bg-gray-50 py-24 sm:py-32" id="bento">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-center text-base/7 font-semibold text-cpurple">
      Tu futuro comienza aquí
    </h2>
    <p
      class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl"
    >
      Your journey to Happiness, begins Here!
    </p>
    <p
      class="mx-auto mt-2 max-w-lg text-balance text-center tracking-tight text-gray-950"
    >
      Aprende un idioma o estudia lo que más te gusta, mientras vives la mejor
      experiencia de tu vida.
    </p>
    <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
      <div class="relative lg:row-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
        >
          <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              +20 Idiomas
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Aprende o perfecciona el idioma que desees en las mejores escuelas
              internacionales.
            </p>
          </div>
          <div
            class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm"
          >
            <div
              class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-100 bg-gray-900 shadow-2xl"
            >
              <video
                class="size-full object-cover object-top"
                src="/videos/1.mp4"
                autoplay
                loop
                muted
                playsinline></video>
            </div>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"
        >
        </div>
      </div>
      <div class="relative max-lg:row-start-1">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
        >
          <div class="px-8 pt-8 sm:px-10 sm:pt-10">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              Programas y Destinos
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              +100 destinos y culturas para elegir. High School, Pregrados,
              Maestrías y Summer Camps.
            </p>
          </div>

          <div
            class="relative flex h-60 flex-col items-center bg-transparent md:h-60 dark:bg-transparent"
          >
            <Globe />
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"
        >
        </div>
      </div>
      <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
        >
          <div class="px-8 pt-8 sm:px-10 sm:pt-10">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              Las Mejores Escuelas
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Contamos con más de 20 convenios internacionales y las mejores
              instalaciones.
            </p>
          </div>

          <div
            class="flex flex-1 items-center justify-center px-8 max-lg:pb-12 max-lg:pt-10 sm:px-10 lg:pb-2"
          >
            <img
              class="w-full max-lg:max-w-xs"
              src="/images/globe.webp"
              alt="countries and states"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
        >
        </div>
      </div>
      <div class="relative lg:row-span-2">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
        >
          <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
            <p
              class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
            >
              Testimonios
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Conoce las experiencias de nuestros estudiantes alrededor del
              mundo.
            </p>
          </div>
          <div
            class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm"
          >
            <div
              class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-100 bg-gray-900 shadow-2xl"
            >
              <video
                class="size-full object-cover object-top"
                src="/videos/2.mp4"
                controls
                muted
                poster="https://www.wearetop.co/wp-content/uploads/2019/05/Colombia-Cover.jpg"
              ></video>
            </div>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
        >
        </div>
      </div>
    </div>
  </div>
</section>
