<section class="w-full bg-white" id="counter">
  <div class="counter__items container">
    <div class="counter__item">
      <h3 class="counter__number" data-symbol="%" data-val="100">0</h3>
      <p class="counter__description">
        Of our degree students graduate with industry experience
      </p>
    </div>
    <div class="counter__item">
      <h3 class="counter__number" data-symbol="%" data-val="100">0</h3>
      <p class="counter__description">
        Graduates who are engaged in or available for work.
      </p>
    </div>
    <div class="counter__item">
      <h3 class="counter__number" data-symbol="TOP" data-val="8">0</h3>
      <p class="counter__description">
        Employment in Australian higher education
      </p>
    </div>
  </div>
</section>

<style>
  .counter__items {
    height: auto;
    padding: 3rem 0;
    display: grid;
    align-items: start;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  @media (min-width: 768px) {
    .counter__items {
      justify-content: space-between;
      height: auto;
      padding: 6rem 0;
    }
  }
  .counter__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .counter__number {
    @apply text-xl font-bold text-cpurple-100;
  }
  @media (min-width: 768px) {
    .counter__number {
      @apply text-4xl;
    }
  }
  .counter__description {
    @apply w-full text-balance text-xs font-normal text-cpurple-200 md:text-base lg:max-w-60;
  }
</style>

<script type="module" is:inline>
  // Marca el script como del lado del cliente
  export default function initCounter() {
    const counterSection = document.getElementById("counter");
    const numCounters = document.querySelectorAll(".counter__number");

    const animateCounters = () => {
      numCounters.forEach((counter) => {
        const updateCount = () => {
          const target = parseInt(counter.getAttribute("data-val") || "0");
          const targetSymbol = counter.getAttribute("data-symbol");
          const count = parseInt(counter.textContent || "0");
          const speed = 200;
          const increment = target / speed;

          if (count < target) {
            counter.textContent =
              targetSymbol !== "%"
                ? `${targetSymbol} ` + Math.ceil(count + increment).toString()
                : Math.ceil(count + increment).toString() + ` ${targetSymbol}`;

            setTimeout(updateCount, 1);
          } else {
            counter.textContent =
              targetSymbol !== "%"
                ? `${targetSymbol} ` + target.toString()
                : target.toString() + ` ${targetSymbol}`;
          }
        };
        updateCount();
      });
    };

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            animateCounters();
            observer.disconnect();
          }
        });
      },
      {
        root: null,
        threshold: 0.7,
      },
    );

    if (counterSection) {
      observer.observe(counterSection);
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    initCounter();
  });
</script>
