---
import { Icon } from "astro-icon/components";
---

<main
  class="relative bg-hero-img bg-cover bg-center bg-no-repeat after:dotted-overlay before:absolute before:inset-0 before:bg-cpurple-200/40 after:absolute after:inset-0"
>
  <div
    class="container relative grid min-h-[calc(100dvh-64px)] place-items-center md:min-h-[calc(100dvh-95px)]"
  >
    <div class="z-10 flex flex-col gap-y-4">
      <Icon name="logos/wearetop-w" class="h-36 w-auto lg:h-48" />
      <h1 class="heading-1 text-balance text-center leading-none text-white">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </h1>
    </div>

    <a
      role="button"
      href="#info"
      class="absolute inset-x-0 bottom-5 z-10 mx-auto inline-block w-fit animate-pulse text-white"
    >
      <Icon name="navbar/chevron" class="size-10 rotate-90" />
    </a>
  </div>
</main>
