<section class="bg-czyan">
  <article class="container flex flex-col gap-y-6 py-20 text-center">
    <h2
      class="big-heading mx-auto text-balance font-black leading-none text-white"
    >
      With ICMS, you will have the opportunity to complete a Professional
      Placement.
    </h2>

    <p
      class="heading-3 mx-auto max-w-prose text-center font-medium leading-none text-cpurple"
    >
      ¡A secure individually Tailored Internship!
    </p>

    <button
      class="mx-auto w-fit appearance-none border-none bg-cpurple-100 px-4 py-2 text-white shadow shadow-cpurple-100 outline-none transition-colors hover:bg-cpurple-200"
      >Apply now!</button
    >
  </article>
</section>
