<section class="bg-czyan">
  <article class="container flex flex-col gap-y-6 py-12 text-center md:py-24">
    <h2
      class="heading-1 mx-auto text-balance font-black leading-none text-white"
    >
      With ICMS, you will have the opportunity to complete a Professional
      Placement.
    </h2>

    <p
      class="heading-1 mx-auto text-balance font-black leading-none text-cpurple"
    >
      ¡A secure individually Tailored Internship!
    </p>
  </article>
</section>
