<section class="bg-czyan">
  <article class="container py-10 text-center">
    <h2 class="heading-2 mb-4 text-balance font-medium text-cpurple">
      Becas CAD 11.500 Diplomas y
    </h2>
    <p class="mx-auto max-w-prose text-left leading-normal lg:text-lg">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
      ducimus recusandae non nihil, nobis ex aliquid quod architecto.
      Praesentium similique aspernatur perspiciatis, iusto amet in tenetur
      provident, a molestias velit exercitationem ex nulla quas deserunt
      consectetur labore repellat obcaecati corrupti earum illo. Consectetur
      soluta fuga delectus minima illo, dignissimos quasi, incidunt molestias
      numquam et unde.
    </p>
  </article>
</section>
