---
import type { CurrencyConfig } from "@/lib/types/currency-config.type";
import CurrencyToggle from "@/components/currency-toggle.svelte";

type Plan = {
  name: string;
  pricing: CurrencyConfig[];
  video: string;
  cover: string;
};

const PLANS: Plan[] = [
  {
    name: "MBA",
    pricing: [
      {
        code: "usd",
        value: 37_000,
      },
      {
        code: "aud",
        value: 56_160,
      },
    ],
    video: "https://www.youtube.com/watch?v=lUVxlJwVkp0",
    cover: "/images/card-1.webp",
  },
  {
    name: "Master of Information Technology",
    pricing: [
      {
        code: "usd",
        value: 35_500,
      },
      {
        code: "aud",
        value: 53_760,
      },
    ],
    video: "https://www.youtube.com/watch?v=SjG64_mH0XU",
    cover: "/images/card-2.webp",
  },
  {
    name: "Master of Management (Tourism and Hospitality)",
    pricing: [
      {
        code: "usd",
        value: 33_800,
      },
      {
        code: "aud",
        value: 51_240,
      },
    ],
    video: "https://www.youtube.com/watch?v=9C6Oz_Fwe48",
    cover: "/images/card-3.webp",
  },
];
---

<section
  class="relative grid place-items-center bg-gray-50 py-12 md:py-24"
  id="pricing"
>
  <div class="container flex flex-col gap-4 sm:gap-6 lg:gap-20">
    <header
      class="mx-auto flex w-fit max-w-screen-lg flex-col gap-5 text-left *:text-sm *:sm:text-2xl"
    >
      <p class="leading-tight tracking-wide">
        The International College of Management, Sydney (ICMS) is a leader in
        career-focused education that offers a wide range of undergraduate and
        postgraduate degrees and courses.
      </p>
      <p class="text-cpurple-500 leading-tight tracking-wide">
        ¡Work Integrated Learning! Professional Placements and analytical report
        writing are experiences that will differentiate you from other graduates
        in the competitive job market.
      </p>
    </header>
    <ul class="container flex flex-wrap justify-center gap-5">
      {
        PLANS.map((plan) => (
          <li class="relative h-full max-h-[518px] w-full max-w-[366px] shrink-0 overflow-hidden rounded-2xl shadow-sm odd:scale-90">
            <img
              src={plan.cover}
              width="320"
              height="100%"
              loading="lazy"
              class="aspect-[9/16] h-full w-full object-cover"
            />
            <header class="origin-start absolute inset-x-0 top-[38%] mx-auto flex w-fit -translate-y-1/2 flex-col gap-4">
              <CurrencyToggle client:visible currencies={plan.pricing} />
            </header>
            <a
              href={plan.video}
              target="_blank"
              class="absolute right-4 bottom-5 left-4 flex min-h-20 items-center justify-center rounded-2xl bg-black/10 px-4 py-4 text-center text-2xl leading-6 font-medium text-balance text-white drop-shadow-md backdrop-blur-sm"
            >
              {plan.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
