---
import { Icon } from "astro-icon/components";
import Pricing from "@/components/higher-education/pricing.astro";
---

<div class="timeline relative hidden lg:block">
  <div class="video-timeline">
    <!-- Video sits in the background stuck-->
    <div class="video-container fluid bg-gray-50">
      <!-- This needs a 100vh mask inside of an element that's smaller in size to offset text -->
      <section class="video-mask fluid">
        <h1 class="fluid flex flex-col items-center justify-center">
          <Icon name="logos/wearetop-w" class="fluid size-20 md:size-6" />
          <span class="font-bold mix-blend-difference"
            >Work Integrated Learning!
          </span>
        </h1>
      </section>
    </div>

    <section class="spacer"></section>
  </div>
</div>

<style>
  @layer animation {
    :root {
      timeline-scope: --buffer;
    }

    .spacer {
      height: calc(100dvh - 95px);
      view-timeline: --buffer;
    }

    .video-mask h1 {
      scale: 2;
      @media (min-width: 768px) {
        scale: 6;
      }
      transform-origin: center;
      animation: shrink both ease-out;
      animation-timeline: --buffer;
      animation-range: entry;
    }

    @keyframes shrink {
      to {
        scale: 33;
        transform: translate(7%, -15%);
      }
    }

    @keyframes reveal {
      from {
        @apply bg-black;
      }
      to {
        @apply bg-black;
      }
    }
  }

  @layer demo {
    .video-container {
      position: sticky;
      height: 100dvh;
      top: 60px;
      @media (min-width: 1024px) {
        top: 95px;
      }
    }

    .video-mask {
      height: calc(100dvh - 95px);
      @media (max-width: 1024px) {
        height: calc(100dvh - 60px);
      }
      position: absolute;
      z-index: 2;
      background: black;
      color: white;
      display: grid;
      place-items: center;
      inset: 0;
      scale: 1;
      animation: reveal both cubic-bezier(0.4, 0, 0.2, 1);
      animation-timeline: --buffer;
      animation-range: entry 90%;
    }

    .video-mask h1 {
      display: flex;
      text-align: center;
      margin: 0;
      anchor-name: --head;
    }
  }
</style>
