<section class="relative grid place-items-center bg-black">
  <h3 class="z-10 text-white">Work Integrated Learning!</h3>
</section>

<style>
  section {
    --topbarHeight: 64px;
    min-height: 300px;

    @media (min-width: 768px) {
      min-height: 75vh;
    }
    @media (min-width: 1024px) {
      min-height: calc(100vh - var(--topbarHeight));
    }
  }

  h3 {
    --scale: 2;
    --translate: -32.7%;

    scale: var(--scale);
    animation: shrink both 1ms linear;
    animation-timeline: scroll(root);
    animation-range: entry 15% 100vh;

    @media (min-width: 768px) {
      --scale: 3.3;
      --translate: -32%;
    }
    @media (min-width: 1024px) {
      --scale: 4.2;
      --translate: -32%;
    }
    @media (min-width: 1280px) {
      --scale: 4.4;
      --translate: -32%;
    }
    @media (min-width: 1536px) {
      --scale: 5.1;
      --translate: -32%;
    }
  }

  @keyframes shrink {
    to {
      transform: scale(var(--scale)) translateX(var(--translate));
    }
  }
</style>
