<section class="relative grid place-items-center bg-black">
  <h3 class="z-10 text-white">Work Integrated Learning!</h3>
</section>

<style>
  section {
    min-height: 300px;
    --scale: 2;
    --translate: -32.7%;
    --topbarHeight: 64px;

    @media (min-width: 768px) {
      min-height: 75dvh;
    }
    @media (min-width: 1024px) {
      min-height: calc(100dvh - var(--topbarHeight));
    }
  }

  h3 {
    scale: var(--scale);
    animation-range: 0 100dvh;
    animation: shrink both ease-out;
    animation-timeline: view(block 20% 30%);
    animation-duration: 3ms; /* Firefox requires this to apply the animation */

    --scale: 2.5;
    --translate: -33.7%;

    @media (min-width: 768px) {
      --scale: 3.7;
      --translate: -32%;
    }
    @media (min-width: 1024px) {
      --scale: 4.2;
      --translate: -32%, 35%;
    }
    @media (min-width: 1280px) {
      --scale: 4.4;
      --translate: -32%, 25%;
    }
    @media (min-width: 1536px) {
      --scale: 6;
      --translate: -32%, 25%;
    }
  }

  @keyframes shrink {
    to {
      transform: scale(var(--scale, 1)) translate(var(--translate));
    }
  }
</style>
