---
import { Icon } from "astro-icon/components";
---

<section class="container py-20">
  <header class="show-animation relative text-center">
    <Icon name="directional" class="text-cteal-100 mx-auto size-14" />
    <h2 class="heading-2 font-black">¿QUÉ CAMINO CAMBIARÁ TU VIDA?</h2>
    <p class="text-cteal-100 text-xl">El momento es ahora</p>
    <span
      class="text-cteal-100/10 pointer-events-none absolute inset-x-0 -bottom-10 text-[90px] leading-none font-black uppercase lg:-bottom-30 lg:text-[200px]"
      >AHORA</span
    >
  </header>

  <div class="mt-25 grid gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3">
    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs lg:row-span-2"
    >
      <img
        src="/images/home/idiomas.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">Idiomas</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          Víve la mejor experiencia de tu vida, mientras aprendes un idioma.
          Descubre lugares y conoce personas. Nosotros te ayudamos a escoger el
          curso y destino perfectos para tí.
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>

    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs"
    >
      <img
        src="/images/home/hight-education.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="size-full object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">Educación Superior</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          Mejora tu perfil profesional con un Pregrado, Maestría o Doctorado.
          Universidades: TOP 100 QS, Russell Group
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>

    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs lg:col-start-2 lg:row-start-2"
    >
      <img
        src="/images/home/certificados-y-diplomados.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="size-full object-cover object-center transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">Certificados y Dimplomados</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          Lleva tus habilidades profesionales al siguiente nivel! Programas en
          Business, Hospitality, Digital Marketing ó IT, con la posibildiad de
          hacer prácticas empresariales.
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>

    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs lg:col-start-3 lg:row-span-2 lg:row-start-1"
    >
      <img
        src="/images/home/foundations-and-pathways.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">Foundations & Pathways</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          Preparate para la universidad en UK o USA mediante una nivelación
          académica y lingüística. Si tienes un Diploma IB y cumples con el
          puntaje requerido puedes hacer un International Year One y pasar
          directamente a segundo año de pregrado.
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>

    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs lg:col-span-1 lg:row-start-3"
    >
      <img
        src="/images/home/summer-camps.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="size-full object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">Summer Camps</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          Aprende un idioma de manera segura y divertida! Las mejores escuelas y
          actividades
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>

    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs lg:row-start-3"
    >
      <img
        src="/images/home/boarding-school.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="size-full object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">Boarding School</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          Descubre tu potencial académico en las mejores escuelas privadas en
          USA y Reino Unido mediante un año académico ó High School Term
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>

    <a
      href="#"
      class="group show-animation relative overflow-hidden rounded-3xl shadow-xs lg:row-start-3"
    >
      <img
        src="/images/home/top-experiences.avif"
        alt="Puede ser una imagen de dos personas en la playa con tablas de surf"
        class="size-full object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <footer class="absolute right-6 bottom-6 left-6 z-10 text-white">
        <h3 class="mb-1 text-lg font-semibold">TOP Experiences</h3>
        <p class="text-xs leading-5 sm:text-sm md:text-base">
          No solo aprenderás un idioma, vas a hacer lo que te gusta! Por ej:
          Fútbol, Yoga, Vinos, Cocina, Film Making, etc
        </p>
      </footer>
      <span
        aria-hidden="true"
        class="absolute inset-x-0 bottom-0 h-35 bg-gradient-to-t from-black to-transparent"
      ></span>
    </a>
  </div>
</section>
