---
import { Icon } from "astro-icon/components";
---

<section
  class="dotted-overlay flex min-h-screen flex-col justify-center bg-black after:absolute after:inset-0"
>
  <video
    class="absolute inset-0 mx-auto h-screen w-full object-cover object-bottom"
    src="https://content.wearetop.co/static/home-hero.mp4"
    autoplay="autoplay"
    loop="loop"
    muted="muted"
    playsinline></video>

  <div
    class="relative z-10 container flex flex-col-reverse justify-between gap-20 text-center min-lg:flex-row min-lg:text-left"
  >
    <div class="flex flex-col space-y-4">
      <h1
        class="text-heading-1 flex flex-col gap-1 leading-none font-black text-white"
      >
        No somos una agencia. Ofrecemos <b class="text-cteal-100 block"
          >Consultoría en Educación Internacional.</b
        >
        <span class="text-cpurple-300 block">We Are TOP!</span>
      </h1>
      <p
        class="max-w-4xl text-xs text-white min-sm:block sm:text-sm md:text-base min-lg:text-2xl"
      >
        Cada año, nuestros estudiantes viven la mejor experiencia de sus vidas,
        en escuelas de idiomas con el mejor mix de nacionalidades, Summer Camps,
        Universidades TOP 100 QS, Russell group, escuelas de negocios y colegios
        alrededor del mundo.
      </p>
    </div>

    <Icon
      name="yolo"
      class="z-10 -mt-10 hidden h-auto w-full max-w-40 min-lg:block"
    />
  </div>

  <a
    role="button"
    href="#programas"
    class="animate-bouncing animate-iteration-count-infinite absolute inset-x-0 bottom-0 z-10 mx-auto hidden w-fit lg:block"
    aria-label="Scroll down"
  >
    <Icon name="mouse" class="size-6 text-white lg:size-10" />
  </a>
</section>
