---
import { Image } from "astro:assets";
---

<main
  class="dotted-overlay relative flex min-h-screen flex-col justify-center overflow-hidden bg-black after:absolute after:inset-0 after:bg-black/30"
>
  <Image
    src="/images/seguros-de-viaje-hero.avif"
    height="1080"
    width="1920"
    alt="Seguro de Viaje"
    class="absolute inset-0 mx-auto h-screen w-screen object-cover object-top"
    loading="eager"
  />

  <header class="z-10 container space-y-4 text-center text-white">
    <h1
      class="text-heading-1 animate-slide-up-fade z-20 flex flex-col gap-1 leading-none font-black text-white"
    >
      Viaja tranquilo. Nosotros cuidamos de ti.
    </h1>

    <p
      class="animate-slide-up-fade mx-auto max-w-4xl text-white min-sm:block sm:text-sm md:text-base min-lg:text-2xl"
    >
      Disfruta tu nueva casa, tu aventura y tu experiencia en el extranjero <strong
        class="font-bold">sin preocuparte por imprevistos.</strong
      >
    </p>
  </header>
</main>
