---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { ROUTES } from "@/lib/constants";
---

<footer class="bg-black px-6 py-6 text-white md:px-12 lg:py-20">
  <div class="container mx-auto">
    <div class="flex flex-col justify-between md:flex-row">
      <a href="/" class="mx-auto w-fit md:mx-0">
        <Icon name="logos/wearetop" class="mx-auto size-30 md:mx-0" />
      </a>

      <div
        class="flex flex-wrap place-items-end items-center justify-center gap-6"
      >
        <a href="https://www.expatrio.com/?p=wearetop" target="_blank">
          <Image
            src="/images/logos/expatrio.avif"
            alt="logo"
            width={80}
            height={30}
            class="h-7 w-auto"
            title="Expatrio"
          />
        </a>
        <a href="https://somosteam.com/" target="_blank">
          <Image
            src="/images/logos/team-member.avif"
            alt="logo"
            width={80}
            height={30}
            class="h-7 w-auto"
            title="Team Member"
          />
        </a>
        <a href="https://www.nexpay.com.au/" target="_blank">
          <Image
            src="/images/logos/nextpay.avif"
            alt="logo"
            width={80}
            height={30}
            class="h-7 w-auto"
            title="NextPay"
          />
        </a>
        <a href="https://www.flywire.com/industries/education" target="_blank">
          <Icon name="logos/flywire" class="h-7 w-auto" title="Flywire" />
        </a>
      </div>
    </div>

    <div class="mt-5 flex flex-col items-center justify-between md:flex-row">
      <p
        class="order-last mt-4 text-center text-xs text-white/60 md:order-first md:mt-0 md:block md:text-left"
      >
        © 2024 WeAreTop. All rights reserved. <span class="block lg:inline"
          >Powered by <a
            href="https://rxtsel.dev"
            class="transition-colors hover:text-white"
            target="_blank">@rxtsel.</a
          ></span
        >
      </p>
      <div
        class="md:items-unset flex flex-col items-center gap-5 text-xs md:flex-row"
      >
        <a
          href={ROUTES.FOOTER.POLITICA_DE_PRIVACIDAD}
          class="text-white/60 transition-colors hover:text-white"
        >
          Política de tratamiento de datos
        </a>
        <a
          href={ROUTES.FOOTER.POLITICA_DE_PRIVACIDAD}
          class="text-white/60 transition-colors hover:text-white"
        >
          Términos y Condiciones
        </a>
      </div>
    </div>
  </div>
</footer>
