---
import { Icon } from "astro-icon/components";
---

<a
  href="https://api.whatsapp.com/send?phone=573183795288&text=%C2%A1Hola!%20%C2%BFC%C3%B3mo%20est%C3%A1s%3F%20%F0%9F%98%84"
  target="_blank"
  class="fixed right-2 bottom-4 z-20"
>
  <Icon name="whatsapp" class="size-12 drop-shadow-md md:size-14" />
</a>
