<article class="container py-12 md:py-24" id="bento">
  <h2
    class="mx-auto text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl"
  >
    ¿Por qué estudiar en Malta?
  </h2>

  <ul class="mt-4 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
    <footer class="relative lg:row-span-2">
      <div
        aria-hidden="true"
        class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-t-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tl-[calc(2rem+1px)]"
      >
        <header
          class="relative flex h-60 flex-col items-center bg-transparent md:h-60 dark:bg-transparent"
        >
          <picture>
            <source
              srcset="/images/idiomas/malta/bento-card-2.avif"
              type="image/avif"
            />
            <source
              srcset="/images/idiomas/malta/bento-card-2.webp"
              type="image/webp"
            />

            <img
              class="absolute inset-x-0 mt-auto h-full w-full rounded-t-lg object-cover lg:rounded-tl-[2rem]"
              src="/images/idiomas/malta/bento-card-2.webp"
              alt="Viaja por Europa desde el Reino Unido"
              loading="lazy"
            />
          </picture>
        </header>
        <footer class="flex-1 px-8 pt-8 pb-3 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Malta: historia, arquitectura y playas turquesa en un solo destino
          </h3>

          <ul
            class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
          >
            <li>Ubicación estratégica en el Mediterráneo</li>
            <li>Conectividad aérea con las principales ciudades de Europa</li>
            <li>
              Posibilidad de trabajar 20 horas semanales después del tercer mes
            </li>
          </ul>
        </footer>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"
      >
      </div>
    </footer>
    <li class="relative max-lg:row-start-1">
      <div
        class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
      >
        <div class="px-8 py-8 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            ¿Puedo estudiar y trabajar en Malta?
          </h3>
          <ul
            class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
          >
            <li>En cursos de hasta 12 semanas: no hay permiso laboral</li>
            <li>
              En programas de más de 3 meses: puedes trabajar 20 h/semana desde
              la semana 13
            </li>
            <li>
              Ideal para quienes buscan estudiar y ganar experiencia
              internacional
            </li>
          </ul>
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"
      >
      </div>
    </li>
    <li class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
      <div class="absolute inset-px rounded-lg bg-white"></div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
      >
        <div class="px-8 py-8 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Visado para estudiar inglés en Malta
          </h3>
          <ul
            class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
          >
            <li>
              Programas de hasta 12 semanas: no requieren visa de estudios
            </li>
            <li>Más de 12 semanas: debes solicitar visado de estudiante</li>
            <li>
              Debes demostrar fondos de manutención: EUR 18/día con alojamiento
              pago o EUR 30/día sin pagarlo
            </li>
            <li>
              We Are TOP te acompaña en todo el proceso de visado y extensión
            </li>
          </ul>
        </div>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
      >
      </div>
    </li>
    <li class="relative lg:row-span-2">
      <div
        class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
      >
      </div>
      <div
        class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
      >
        <header
          class="relative flex h-60 flex-col items-end justify-end bg-transparent md:h-60"
        >
          <picture>
            <source
              srcset="/images/idiomas/malta/bento-card-1.avif"
              type="image/avif"
            />
            <source
              srcset="/images/idiomas/malta/bento-card-1.webp"
              type="image/webp"
            />

            <img
              class="absolute inset-x-0 top-0 h-60 w-full rounded-t-[calc(theme(borderRadius.lg)+1px)] object-cover max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tr-[calc(2rem+1px)]"
              src="/images/idiomas/malta/bento-card-1.webp"
              alt="Viaja por Europa desde el Reino Unido"
              loading="lazy"
            />
          </picture>
        </header>
        <footer class="flex-1 px-8 pt-8 pb-3 sm:px-10 sm:py-10">
          <h3
            class="text-cpurple-300 mt-2 text-lg font-semibold tracking-tight max-lg:text-center"
          >
            Europa a un vuelo de distancia
          </h3>
          <ul
            class="mx-auto mt-2 ml-5 flex max-w-lg list-disc flex-col text-sm/6 text-gray-600"
          >
            <li>Malta es un hub perfecto para viajar por Europa</li>
            <li>Vuelos económicos a Italia, Francia, España, Grecia y más</li>
            <li>
              Ideal para quienes buscan estudiar inglés mientras exploran el
              continente
            </li>
          </ul>
        </footer>
      </div>
      <div
        class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
      >
      </div>
    </li>
  </ul>
</article>
