<div
  class="bg-cpurple-200 flex flex-col justify-center gap-6 p-4 py-12 md:py-24"
>
  <h3 class="text-heading-1 text-center leading-none font-black text-white">
    Idiomas +:
  </h3>
  <ul
    class:list={[
      "flex list-none flex-wrap justify-center gap-3 p-0 md:gap-4",
      "*:text-cpurple-200 *:bg-white *:px-2 *:py-1 *:text-sm *:font-semibold *:shadow-lg *:backdrop-blur-sm *:transition-all *:duration-300 *:md:text-base",
    ]}
  >
    <li>Negocios</li>
    <li>Derecho</li>
    <li>Finanzas</li>
    <li>Fashion</li>
    <li>Art & Design</li>
  </ul>
  <a
    href="https://api.whatsapp.com/send?phone=573183795288&text=%C2%A1Hola!%20%C2%BFC%C3%B3mo%20est%C3%A1s%3F%20%F0%9F%98%84"
    target="_blank"
    rel="noopener noreferrer"
    class="mx-auto inline-block w-fit bg-black px-4 py-2 font-semibold text-white transition-colors hover:opacity-85 md:mt-2 lg:scale-110 2xl:scale-125"
  >
    Hablemos ahora
  </a>
</div>
