---
import "@fontsource/lato";
import Head from "@/components/head.astro";
import TopBar from "@/components/top-bar.astro";
import Footer from "@/components/footer.astro";
import Globals from "@/components/globals.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-x-hidden scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <Head />
  </head>
  <body>
    <TopBar />
    <slot />
    <Globals />
    <Footer />
  </body>
</html>

<style>
  body {
    font-family:
      "Lato",
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      sans-serif;
  }
</style>
